fastapi
uvicorn[standard]
pydantic
python-dotenv
langchain
langchain-pinecone
langchain-openai
langchain-cohere
langchain-groq
langchain-google-genai
langchain-text-splitters
tiktoken
pypdf2
python-multipart
